{{ define "title" }}
	<a href="/" class="header-button"><i class="fa fa-fw fa-home header-icon"></i></a> Go: Examples
{{ end }}

{{ define "content" }}
	<div class="subheader">
		<ul class="subheader-items">
			<li class="subheader-item"><a href="#" class="subheader-button"><i class="fa fa-fw fa-sort-amount-desc"></i></a></li>
			<li class="subheader-item"><a href="#" class="subheader-button is-active"><i class="fa fa-fw fa-file"></i></a></li>
			<li class="subheader-item"><a href="#" class="subheader-button is-active"><i class="fa fa-fw fa-folder"></i></a></li>
		</ul>
	</div>		
	<div class="content">
	    <ul class="list">  

	    	{{ range . }}
	    	<li class="list-item">
	    		<div class="list-col list-icon"><i class="fa fa-fw fa-file"></i></div>
	    		<div class="list-col list-name"><a href="/examples/{{ .Alias }}">{{ .Name }}</a></div>
	    		<div class="list-col list-desc">Attach handlers to routes to build a basic webserver</div>
	    		<div class="list-col list-rating">6</div>		    		 
	    		<div class="list-rate">		    			
	    			<a href="" class="list-rate-up"><i class="fa fa-fw fa-caret-up list-rate-icon"></i></a>
	    			<a href="" class="list-rate-down"><i class="fa fa-fw fa-caret-down list-rate-icon"></i></a>		    				    			
	    		</div>
	    	</li>
	    	{{ end }}

	    	<li class="list-item">
	    		<div class="list-col list-icon"><i class="fa fa-fw fa-file"></i></div>
	    		<div class="list-col list-name"><a href="">Some Other Sample</a></div>
	    		<div class="list-col list-desc">Shows how to do this and that and then some more but it doesn't end here...</div>
	    		<div class="list-col list-rating">-2</div>		    		 
	    		<div class="list-rate">		    			
	    			<a href="" class="list-rate-up"><i class="fa fa-fw fa-caret-up list-rate-icon"></i></a>
	    			<a href="" class="list-rate-down"><i class="fa fa-fw fa-caret-down list-rate-icon"></i></a>		    				    			
	    		</div>
	    	</li>

	    	<li class="list-item">
	    		<div class="list-col list-icon"><i class="fa fa-fw fa-folder"></i></div>
	    		<div class="list-col list-name"><a href="">Web Application Organization</a></div>
	    		<div class="list-col list-desc">A complete example or how to organize a web application.</div>
	    		<div class="list-col list-rating">1</div>		    		 
	    		<div class="list-rate">		    			
	    			<a href="" class="list-rate-up"><i class="fa fa-fw fa-caret-up list-rate-icon"></i></a>
	    			<a href="" class="list-rate-down"><i class="fa fa-fw fa-caret-down list-rate-icon"></i></a>		    				    			
	    		</div>
	    	</li>

		</ul>
	</div>
{{ end }}