<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/bower_components/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
</head>
<body>	
	
	<header class="header">
		<h1 class="header-title"><i class="fa fa-home header-icon"></i>Go Examples</h1>
		<ul class="header-meta">
			<li class="header-meta-item"><a href="" class="header-meta-button"><i class="fa fa-fw fa-search"></i></a></li>
			<li class="header-meta-item"><a href="" class="header-meta-button"><i class="fa fa-fw fa-question"></i></a></li>
		</ul>
	</header>

	<div class="container">
		<div class="subheader">
			<ul class="subheader-items">
				<li class="subheader-item"><a href="#" class="subheader-button"><i class="fa fa-fw fa-sort-amount-desc"></i></a></li>
				<li class="subheader-item"><a href="#" class="subheader-button is-active"><i class="fa fa-fw fa-file"></i></a></li>
				<li class="subheader-item"><a href="#" class="subheader-button is-active"><i class="fa fa-fw fa-folder"></i></a></li>
			</ul>
		</div>		
		<div class="content">
		    <ul class="list">   
		    	
		    	<li class="list-item">
		    		<div class="list-col list-icon"><i class="fa fa-fw fa-file"></i></div>
		    		<div class="list-col list-name"><a href="">HandleFunc</a></div>
		    		<div class="list-col list-desc">Attach handlers to routes to build a basic webserver</div>
		    		<div class="list-col list-rating">6</div>		    		 
		    		<div class="list-rate">		    			
		    			<a href="" class="list-rate-up"><i class="fa fa-fw fa-caret-up list-rate-icon"></i></a>
		    			<a href="" class="list-rate-down"><i class="fa fa-fw fa-caret-down list-rate-icon"></i></a>		    				    			
		    		</div>
		    	</li>

		    	<li class="list-item">
		    		<div class="list-col list-icon"><i class="fa fa-fw fa-file"></i></div>
		    		<div class="list-col list-name"><a href="">Some Other Sample</a></div>
		    		<div class="list-col list-desc">Shows how to do this and that and then some more but it doesn't end here...</div>
		    		<div class="list-col list-rating">-2</div>		    		 
		    		<div class="list-rate">		    			
		    			<a href="" class="list-rate-up"><i class="fa fa-fw fa-caret-up list-rate-icon"></i></a>
		    			<a href="" class="list-rate-down"><i class="fa fa-fw fa-caret-down list-rate-icon"></i></a>		    				    			
		    		</div>
		    	</li>

		    	<li class="list-item">
		    		<div class="list-col list-icon"><i class="fa fa-fw fa-folder"></i></div>
		    		<div class="list-col list-name"><a href="">Web Application Organization</a></div>
		    		<div class="list-col list-desc">A complete example or how to organize a web application.</div>
		    		<div class="list-col list-rating">1</div>		    		 
		    		<div class="list-rate">		    			
		    			<a href="" class="list-rate-up"><i class="fa fa-fw fa-caret-up list-rate-icon"></i></a>
		    			<a href="" class="list-rate-down"><i class="fa fa-fw fa-caret-down list-rate-icon"></i></a>		    				    			
		    		</div>
		    	</li>

			</ul>
		</div>
	</div>	
	  
</body>
</html>